<h1 align=center><font size = 5>Regression Models with Keras to Predict Concrete Strength v0.4</font></h1>

## Introduction

Building a Regression Model Using Keras to predict the strength of the concrete sample.Starting with training it on 50 epochs.We will increase the epochs later to 100. 
We are using https://cocl.us/concrete_data dataset to train and test our model.
Also, Evaluating the accuracy of model using mean_squared error.

## Preprocessing Dataset

Importing the <em>pandas</em> and the Numpy libraries and test_train_split function from scikit-learn.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
data = pd.read_csv('https://cocl.us/concrete_data')
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

#### Finding the shape of the data

In [3]:
data.shape

(1030, 9)

So, there are 1030 samples to train our model.

Searching for any missing values in the dataset.

In [4]:
data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Dataset looks super clean. No null value is found in the model. Hence, It is ready to be predicted....After Spiliting the dataset into predictors and target and into training and testing the data ofcourse :)

#### Spliting data

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [0]:
data_columns = data.columns

X = data[data_columns[data_columns != 'Strength']] # Predictors: all columns except 'Strength'
y = data['Strength'] # Target: 'Strength' column

In [7]:
''' Normalizing the dataset first before spilting'''
X_norm = (X - X.mean()) / X.std() 
X_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

<a id="item2"></a>

In [0]:
# Spliting the dataset into training and testing data.
X_train, X_test, y_train,y_test = train_test_split(X_norm,y,test_size=0.3)

Let's do a quick sanity check of the predictors and the target dataframes of training set and testing set.

In [9]:
X_train.head()

       Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
858  0.390714            0.870477  ...       -0.805484 -0.279597
345 -0.645586           -0.856472  ...        0.035167 -0.501222
30   0.218476            0.024388  ...       -1.291914  5.055221
539  1.902584           -0.856472  ...       -0.765572  0.701883
150  0.360094            1.606458  ...        1.332313  0.163652

[5 rows x 8 columns]

In [10]:
X_test.head()

       Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
600  0.553384           -0.856472  ...        0.092540 -0.501222
850 -1.197706            1.959961  ...       -0.942682 -0.279597
391  1.108374           -0.657119  ...       -1.753399 -0.279597
870 -1.264687            0.754574  ...        0.080068 -0.279597
905 -1.398650           -0.856472  ...        0.391882 -0.279597

[5 rows x 8 columns]

In [11]:
y_train.head()

858    52.42
345    33.73
30     55.26
539    54.32
150    66.10
Name: Strength, dtype: float64

In [12]:
y_test.head()

600    27.04
850    37.36
391    55.65
870    23.69
905    13.29
Name: Strength, dtype: float64

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [0]:
n_cols = X_train.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Building Keras Model For Prediction

#### Importing the Keras library

In [14]:
import keras

Using TensorFlow backend.

Importing the Sequential model and Dense layer to create the MLP for training this model.

In [0]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [0]:
# define regression model
# increasing the number of layers
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=['mean_squared_error'])
    return model

The above function create a model that has three hidden layers, each of 10 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [0]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 10% of the data for validation and we will train the model for 50 epochs.

In [18]:
# fit the model
model.fit(X_train, y_train, validation_split=0.1, epochs=50, verbose=2)

Train on 648 samples, validate on 73 samples
Epoch 1/50
 - 0s - loss: 1488.1482 - mean_squared_error: 1488.1482 - val_loss: 1624.4905 - val_mean_squared_error: 1624.4905
Epoch 2/50
 - 0s - loss: 1464.5896 - mean_squared_error: 1464.5896 - val_loss: 1594.0123 - val_mean_squared_error: 1594.0123
Epoch 3/50
 - 0s - loss: 1430.5731 - mean_squared_error: 1430.5731 - val_loss: 1549.3493 - val_mean_squared_error: 1549.3494
Epoch 4/50
 - 0s - loss: 1381.9798 - mean_squared_error: 1381.9799 - val_loss: 1484.7393 - val_mean_squared_error: 1484.7391
Epoch 5/50
 - 0s - loss: 1311.0159 - mean_squared_error: 1311.0159 - val_loss: 1391.2808 - val_mean_squared_error: 1391.2808
Epoch 6/50
 - 0s - loss: 1210.5580 - mean_squared_error: 1210.5580 - val_loss: 1257.1159 - val_mean_squared_error: 1257.1158
Epoch 7/50
 - 0s - loss: 1072.8677 - mean_squared_error: 1072.8678 - val_loss: 1079.7527 - val_mean_squared_error: 1079.7527
Epoch 8/50
 - 0s - loss: 899.6145 - mean_squared_error: 899.6146 - val_loss: 867.6017 - val_mean_squared_error: 867.6017
Epoch 9/50
 - 0s - loss: 711.0384 - mean_squared_error: 711.0385 - val_loss: 653.4692 - val_mean_squared_error: 653.4692
Epoch 10/50
 - 0s - loss: 536.5140 - mean_squared_error: 536.5140 - val_loss: 487.3516 - val_mean_squared_error: 487.3516
Epoch 11/50
 - 0s - loss: 407.3196 - mean_squared_error: 407.3196 - val_loss: 383.1670 - val_mean_squared_error: 383.1670
Epoch 12/50
 - 0s - loss: 332.5714 - mean_squared_error: 332.5714 - val_loss: 317.1502 - val_mean_squared_error: 317.1501
Epoch 13/50
 - 0s - loss: 287.1986 - mean_squared_error: 287.1986 - val_loss: 273.1374 - val_mean_squared_error: 273.1374
Epoch 14/50
 - 0s - loss: 258.2530 - mean_squared_error: 258.2530 - val_loss: 240.3215 - val_mean_squared_error: 240.3215
Epoch 15/50
 - 0s - loss: 236.3324 - mean_squared_error: 236.3324 - val_loss: 218.0433 - val_mean_squared_error: 218.0433
Epoch 16/50
 - 0s - loss: 221.5557 - mean_squared_error: 221.5557 - val_loss: 201.0175 - val_mean_squared_error: 201.0175
Epoch 17/50
 - 0s - loss: 209.8432 - mean_squared_error: 209.8432 - val_loss: 192.1001 - val_mean_squared_error: 192.1001
Epoch 18/50
 - 0s - loss: 201.5795 - mean_squared_error: 201.5795 - val_loss: 183.6963 - val_mean_squared_error: 183.6963
Epoch 19/50
 - 0s - loss: 195.0716 - mean_squared_error: 195.0717 - val_loss: 177.9843 - val_mean_squared_error: 177.9843
Epoch 20/50
 - 0s - loss: 189.6062 - mean_squared_error: 189.6062 - val_loss: 173.1763 - val_mean_squared_error: 173.1763
Epoch 21/50
 - 0s - loss: 185.4199 - mean_squared_error: 185.4199 - val_loss: 169.8098 - val_mean_squared_error: 169.8098
Epoch 22/50
 - 0s - loss: 181.2864 - mean_squared_error: 181.2864 - val_loss: 166.9419 - val_mean_squared_error: 166.9419
Epoch 23/50
 - 0s - loss: 178.2642 - mean_squared_error: 178.2643 - val_loss: 163.4343 - val_mean_squared_error: 163.4343
Epoch 24/50
 - 0s - loss: 175.1763 - mean_squared_error: 175.1763 - val_loss: 161.8600 - val_mean_squared_error: 161.8600
Epoch 25/50
 - 0s - loss: 172.8581 - mean_squared_error: 172.8580 - val_loss: 160.1764 - val_mean_squared_error: 160.1764
Epoch 26/50
 - 0s - loss: 170.1556 - mean_squared_error: 170.1556 - val_loss: 159.3526 - val_mean_squared_error: 159.3526
Epoch 27/50
 - 0s - loss: 167.9320 - mean_squared_error: 167.9320 - val_loss: 156.2676 - val_mean_squared_error: 156.2676
Epoch 28/50
 - 0s - loss: 166.2665 - mean_squared_error: 166.2665 - val_loss: 154.7994 - val_mean_squared_error: 154.7994
Epoch 29/50
 - 0s - loss: 164.0176 - mean_squared_error: 164.0176 - val_loss: 153.4371 - val_mean_squared_error: 153.4370
Epoch 30/50
 - 0s - loss: 162.2387 - mean_squared_error: 162.2386 - val_loss: 152.6720 - val_mean_squared_error: 152.6720
Epoch 31/50
 - 0s - loss: 160.6836 - mean_squared_error: 160.6836 - val_loss: 152.5624 - val_mean_squared_error: 152.5624
Epoch 32/50
 - 0s - loss: 159.3155 - mean_squared_error: 159.3154 - val_loss: 151.0413 - val_mean_squared_error: 151.0413
Epoch 33/50
 - 0s - loss: 157.6057 - mean_squared_error: 157.6057 - val_loss: 149.8846 - val_mean_squared_error: 149.8846
Epoch 34/50
 - 0s - loss: 156.1898 - mean_squared_error: 156.1898 - val_loss: 149.6411 - val_mean_squared_error: 149.6411
Epoch 35/50
 - 0s - loss: 154.7882 - mean_squared_error: 154.7882 - val_loss: 148.4394 - val_mean_squared_error: 148.4394
Epoch 36/50
 - 0s - loss: 153.5838 - mean_squared_error: 153.5838 - val_loss: 147.1438 - val_mean_squared_error: 147.1438
Epoch 37/50
 - 0s - loss: 152.6724 - mean_squared_error: 152.6724 - val_loss: 145.8553 - val_mean_squared_error: 145.8553
Epoch 38/50
 - 0s - loss: 151.4859 - mean_squared_error: 151.4859 - val_loss: 145.3829 - val_mean_squared_error: 145.3829
Epoch 39/50
 - 0s - loss: 150.1496 - mean_squared_error: 150.1496 - val_loss: 145.2394 - val_mean_squared_error: 145.2394
Epoch 40/50
 - 0s - loss: 148.7459 - mean_squared_error: 148.7459 - val_loss: 144.8143 - val_mean_squared_error: 144.8143
Epoch 41/50
 - 0s - loss: 147.5544 - mean_squared_error: 147.5544 - val_loss: 144.0655 - val_mean_squared_error: 144.0655
Epoch 42/50
 - 0s - loss: 146.5129 - mean_squared_error: 146.5129 - val_loss: 143.8601 - val_mean_squared_error: 143.8601
Epoch 43/50
 - 0s - loss: 145.8944 - mean_squared_error: 145.8944 - val_loss: 142.7211 - val_mean_squared_error: 142.7211
Epoch 44/50
 - 0s - loss: 144.7719 - mean_squared_error: 144.7719 - val_loss: 141.2102 - val_mean_squared_error: 141.2102
Epoch 45/50
 - 0s - loss: 143.6597 - mean_squared_error: 143.6597 - val_loss: 140.9913 - val_mean_squared_error: 140.9913
Epoch 46/50
 - 0s - loss: 142.6632 - mean_squared_error: 142.6632 - val_loss: 140.7707 - val_mean_squared_error: 140.7707
Epoch 47/50
 - 0s - loss: 141.9499 - mean_squared_error: 141.9499 - val_loss: 139.7169 - val_mean_squared_error: 139.7169
Epoch 48/50
 - 0s - loss: 140.8889 - mean_squared_error: 140.8889 - val_loss: 139.0466 - val_mean_squared_error: 139.0466
Epoch 49/50
 - 0s - loss: 140.7272 - mean_squared_error: 140.7272 - val_loss: 138.4529 - val_mean_squared_error: 138.4530
Epoch 50/50
 - 0s - loss: 139.2114 - mean_squared_error: 139.2114 - val_loss: 138.7416 - val_mean_squared_error: 138.7417

In [19]:
import statistics 
from sklearn.metrics import mean_squared_error

print(model.summary())
mse_results=[]
for x in range(50):
    model.fit(X_train,y_train,epochs=50, verbose=0)
    train_results = model.predict( X_test )
    mse_results.append( mean_squared_error(y_test, train_results) )

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                90
_________________________________________________________________
dense_2 (Dense)              (None, 10)                110
_________________________________________________________________
dense_3 (Dense)              (None, 10)                110
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 321
Trainable params: 321
Non-trainable params: 0
_________________________________________________________________
None

In [20]:
print("Mean of the list of mean square errors is % s" % (statistics.mean( mse_results ) ))
print("Standard deviation of the list of mean square errors is % s" % ( statistics.stdev( mse_results )))

Mean of the list of mean square errors is 47.670850713856666
Standard deviation of the list of mean square errors is 7.255248500768844

In [21]:
mse_results

[94.13862015850026,
 55.11252167193764,
 52.47458266992788,
 52.86751677359567,
 52.92597948759507,
 52.52696349910552,
 52.52006661931197,
 51.467234985679255,
 49.615840309376445,
 49.19011198526588,
 49.03496452890965,
 47.0412501412634,
 46.18490823720615,
 45.52963635067293,
 46.09349560335964,
 46.51428524730684,
 45.389317379187865,
 44.85950133900051,
 44.75924368341714,
 47.29101867618457,
 45.141485851110104,
 46.94671758502724,
 44.94299984541767,
 45.24339900615229,
 45.516482594551206,
 44.640370350549546,
 44.965620618951775,
 45.032299633392824,
 45.005766036496794,
 45.70326219967758,
 45.15365999534378,
 45.40353345045647,
 44.4576571572652,
 44.897428777009694,
 44.703328638749554,
 44.74442893850414,
 45.97720442393892,
 45.43585587615038,
 45.150036506608885,
 44.547537048479136,
 44.532421915441326,
 44.90780111230876,
 44.49056081534697,
 46.31323158429457,
 45.161012107748775,
 46.44325444903427,
 45.29797706536988,
 46.32010871938631,
 45.73897268443216,
 45.1910613588329]

#### Increasing the number of layers decreased the mean and standard deviation. Hence, have better fit on the dataset compared to one layer normalized model(v0.2)
Mean dataset decreased by approx. 7 points while the standard deviation decreased by 15 points.

# Thanks for Reviewing the Project.