<h1 align=center><font size = 5>Regression Models with Keras to Predict Concrete Strength v0.3</font></h1>

## Introduction

Building a Regression Model Using Keras to predict the strength of the concrete sample.Starting with training it on 50 epochs.We will increase the epochs later to 100. 
We are using https://cocl.us/concrete_data dataset to train and test our model.
Also, Evaluating the accuracy of model using mean_squared error.

## Preprocessing Dataset

Importing the <em>pandas</em> and the Numpy libraries and test_train_split function from scikit-learn.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
data = pd.read_csv('https://cocl.us/concrete_data')
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

#### Finding the shape of the data

In [3]:
data.shape

(1030, 9)

So, there are 1030 samples to train our model.

Searching for any missing values in the dataset.

In [4]:
data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Dataset looks super clean. No null value is found in the model. Hence, It is ready to be predicted....After Spiliting the dataset into predictors and target and into training and testing the data ofcourse :)

#### Spliting data

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [0]:
data_columns = data.columns

X = data[data_columns[data_columns != 'Strength']] # Predictors: all columns except 'Strength'
y = data['Strength'] # Target: 'Strength' column

In [7]:
''' Normalizing the dataset first before spilting'''
X_norm = (X - X.mean()) / X.std() 
X_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

<a id="item2"></a>

In [0]:
# Spliting the dataset into training and testing data.
X_train, X_test, y_train,y_test = train_test_split(X_norm,y,test_size=0.3)

Let's do a quick sanity check of the predictors and the target dataframes of training set and testing set.

In [9]:
X_train.head()

       Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
838 -1.168999            0.870477  ...       -0.668286 -0.279597
100  1.376300            0.375573  ...        1.415879 -0.612034
766  0.993548           -0.856472  ...       -0.131966 -0.501222
98   1.854740            0.520451  ...        0.098777 -0.612034
677 -1.714421            0.916838  ...        2.100623 -0.612034

[5 rows x 8 columns]

In [10]:
X_test.head()

       Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
781  0.141926           -0.856472  ...       -0.107021 -0.612034
942  0.307466            0.824116  ...        0.628861 -0.279597
750  2.093960           -0.856472  ...       -2.002850 -0.279597
97   0.897860            0.230695  ...        2.731735 -0.612034
895 -0.202551            0.314144  ...       -0.131966 -0.279597

[5 rows x 8 columns]

In [11]:
y_train.head()

838    27.68
100    49.20
766    27.92
98     55.60
677     7.68
Name: Strength, dtype: float64

In [12]:
y_test.head()

781    14.20
942    40.93
750    44.09
97     45.70
895    49.77
Name: Strength, dtype: float64

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [0]:
n_cols = X_train.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Building Keras Model For Prediction

#### Importing the Keras library

In [14]:
import keras

Using TensorFlow backend.

Importing the Sequential model and Dense layer to create the MLP for training this model.

In [0]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=['mean_squared_error'])
    return model

The above function create a model that has one hidden layers, each of 10 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [0]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 10% of the data for validation and we will train the model for 100 epochs.

In [18]:
# fit the model
model.fit(X_train, y_train, validation_split=0.1, epochs=100, verbose=2)

Train on 648 samples, validate on 73 samples
Epoch 1/100
 - 0s - loss: 1513.6796 - mean_squared_error: 1513.6796 - val_loss: 1654.4695 - val_mean_squared_error: 1654.4695
Epoch 2/100
 - 0s - loss: 1501.1776 - mean_squared_error: 1501.1777 - val_loss: 1641.5714 - val_mean_squared_error: 1641.5714
Epoch 3/100
 - 0s - loss: 1488.5067 - mean_squared_error: 1488.5067 - val_loss: 1627.9216 - val_mean_squared_error: 1627.9215
Epoch 4/100
 - 0s - loss: 1474.9964 - mean_squared_error: 1474.9965 - val_loss: 1613.3196 - val_mean_squared_error: 1613.3196
Epoch 5/100
 - 0s - loss: 1460.5449 - mean_squared_error: 1460.5449 - val_loss: 1598.1988 - val_mean_squared_error: 1598.1989
Epoch 6/100
 - 0s - loss: 1445.1330 - mean_squared_error: 1445.1331 - val_loss: 1581.6379 - val_mean_squared_error: 1581.6379
Epoch 7/100
 - 0s - loss: 1428.5757 - mean_squared_error: 1428.5756 - val_loss: 1563.7683 - val_mean_squared_error: 1563.7682
Epoch 8/100
 - 0s - loss: 1410.6631 - mean_squared_error: 1410.6631 - val_loss: 1545.1385 - val_mean_squared_error: 1545.1384
Epoch 9/100
 - 0s - loss: 1391.9273 - mean_squared_error: 1391.9272 - val_loss: 1524.9648 - val_mean_squared_error: 1524.9648
Epoch 10/100
 - 0s - loss: 1371.7909 - mean_squared_error: 1371.7908 - val_loss: 1503.4406 - val_mean_squared_error: 1503.4406
Epoch 11/100
 - 0s - loss: 1350.1877 - mean_squared_error: 1350.1876 - val_loss: 1480.6569 - val_mean_squared_error: 1480.6569
Epoch 12/100
 - 0s - loss: 1327.0665 - mean_squared_error: 1327.0664 - val_loss: 1456.6973 - val_mean_squared_error: 1456.6974
Epoch 13/100
 - 0s - loss: 1302.4854 - mean_squared_error: 1302.4854 - val_loss: 1431.0454 - val_mean_squared_error: 1431.0455
Epoch 14/100
 - 0s - loss: 1277.3429 - mean_squared_error: 1277.3429 - val_loss: 1403.5779 - val_mean_squared_error: 1403.5779
Epoch 15/100
 - 0s - loss: 1250.0152 - mean_squared_error: 1250.0151 - val_loss: 1375.5174 - val_mean_squared_error: 1375.5173
Epoch 16/100
 - 0s - loss: 1222.1210 - mean_squared_error: 1222.1210 - val_loss: 1346.4883 - val_mean_squared_error: 1346.4883
Epoch 17/100
 - 0s - loss: 1192.7563 - mean_squared_error: 1192.7562 - val_loss: 1315.8965 - val_mean_squared_error: 1315.8965
Epoch 18/100
 - 0s - loss: 1162.1716 - mean_squared_error: 1162.1715 - val_loss: 1283.8219 - val_mean_squared_error: 1283.8218
Epoch 19/100
 - 0s - loss: 1129.6393 - mean_squared_error: 1129.6392 - val_loss: 1251.9823 - val_mean_squared_error: 1251.9823
Epoch 20/100
 - 0s - loss: 1097.6017 - mean_squared_error: 1097.6018 - val_loss: 1218.9606 - val_mean_squared_error: 1218.9606
Epoch 21/100
 - 0s - loss: 1064.6571 - mean_squared_error: 1064.6571 - val_loss: 1185.4738 - val_mean_squared_error: 1185.4738
Epoch 22/100
 - 0s - loss: 1031.3197 - mean_squared_error: 1031.3196 - val_loss: 1151.0336 - val_mean_squared_error: 1151.0336
Epoch 23/100
 - 0s - loss: 997.3190 - mean_squared_error: 997.3190 - val_loss: 1117.0708 - val_mean_squared_error: 1117.0708
Epoch 24/100
 - 0s - loss: 962.9567 - mean_squared_error: 962.9567 - val_loss: 1082.3935 - val_mean_squared_error: 1082.3936
Epoch 25/100
 - 0s - loss: 928.2355 - mean_squared_error: 928.2355 - val_loss: 1046.0730 - val_mean_squared_error: 1046.0730
Epoch 26/100
 - 0s - loss: 893.2516 - mean_squared_error: 893.2517 - val_loss: 1011.1954 - val_mean_squared_error: 1011.1954
Epoch 27/100
 - 0s - loss: 858.7970 - mean_squared_error: 858.7970 - val_loss: 975.9750 - val_mean_squared_error: 975.9750
Epoch 28/100
 - 0s - loss: 824.7375 - mean_squared_error: 824.7375 - val_loss: 940.9909 - val_mean_squared_error: 940.9909
Epoch 29/100
 - 0s - loss: 790.5447 - mean_squared_error: 790.5447 - val_loss: 906.1306 - val_mean_squared_error: 906.1307
Epoch 30/100
 - 0s - loss: 757.1935 - mean_squared_error: 757.1935 - val_loss: 871.5238 - val_mean_squared_error: 871.5238
Epoch 31/100
 - 0s - loss: 723.4889 - mean_squared_error: 723.4888 - val_loss: 836.6026 - val_mean_squared_error: 836.6025
Epoch 32/100
 - 0s - loss: 690.9277 - mean_squared_error: 690.9277 - val_loss: 802.4344 - val_mean_squared_error: 802.4344
Epoch 33/100
 - 0s - loss: 658.4802 - mean_squared_error: 658.4802 - val_loss: 769.3126 - val_mean_squared_error: 769.3126
Epoch 34/100
 - 0s - loss: 627.5303 - mean_squared_error: 627.5302 - val_loss: 737.0845 - val_mean_squared_error: 737.0845
Epoch 35/100
 - 0s - loss: 597.0695 - mean_squared_error: 597.0695 - val_loss: 705.1867 - val_mean_squared_error: 705.1867
Epoch 36/100
 - 0s - loss: 567.5516 - mean_squared_error: 567.5518 - val_loss: 674.7661 - val_mean_squared_error: 674.7662
Epoch 37/100
 - 0s - loss: 539.6804 - mean_squared_error: 539.6803 - val_loss: 644.7870 - val_mean_squared_error: 644.7870
Epoch 38/100
 - 0s - loss: 512.6647 - mean_squared_error: 512.6647 - val_loss: 616.1260 - val_mean_squared_error: 616.1260
Epoch 39/100
 - 0s - loss: 486.6990 - mean_squared_error: 486.6990 - val_loss: 588.4157 - val_mean_squared_error: 588.4156
Epoch 40/100
 - 0s - loss: 462.3702 - mean_squared_error: 462.3701 - val_loss: 561.0929 - val_mean_squared_error: 561.0929
Epoch 41/100
 - 0s - loss: 439.1908 - mean_squared_error: 439.1908 - val_loss: 535.9514 - val_mean_squared_error: 535.9514
Epoch 42/100
 - 0s - loss: 417.9454 - mean_squared_error: 417.9454 - val_loss: 511.7352 - val_mean_squared_error: 511.7352
Epoch 43/100
 - 0s - loss: 397.6663 - mean_squared_error: 397.6662 - val_loss: 489.1466 - val_mean_squared_error: 489.1466
Epoch 44/100
 - 0s - loss: 378.7739 - mean_squared_error: 378.7739 - val_loss: 466.8523 - val_mean_squared_error: 466.8523
Epoch 45/100
 - 0s - loss: 360.8816 - mean_squared_error: 360.8816 - val_loss: 446.3818 - val_mean_squared_error: 446.3818
Epoch 46/100
 - 0s - loss: 344.7092 - mean_squared_error: 344.7092 - val_loss: 426.4298 - val_mean_squared_error: 426.4298
Epoch 47/100
 - 0s - loss: 329.1599 - mean_squared_error: 329.1599 - val_loss: 407.5241 - val_mean_squared_error: 407.5242
Epoch 48/100
 - 0s - loss: 315.2665 - mean_squared_error: 315.2665 - val_loss: 390.1784 - val_mean_squared_error: 390.1784
Epoch 49/100
 - 0s - loss: 302.3114 - mean_squared_error: 302.3113 - val_loss: 374.8356 - val_mean_squared_error: 374.8356
Epoch 50/100
 - 0s - loss: 290.3392 - mean_squared_error: 290.3392 - val_loss: 359.6262 - val_mean_squared_error: 359.6261
Epoch 51/100
 - 0s - loss: 279.3666 - mean_squared_error: 279.3666 - val_loss: 345.3080 - val_mean_squared_error: 345.3080
Epoch 52/100
 - 0s - loss: 269.4260 - mean_squared_error: 269.4260 - val_loss: 330.9702 - val_mean_squared_error: 330.9702
Epoch 53/100
 - 0s - loss: 260.2263 - mean_squared_error: 260.2263 - val_loss: 319.0171 - val_mean_squared_error: 319.0171
Epoch 54/100
 - 0s - loss: 251.9566 - mean_squared_error: 251.9566 - val_loss: 307.8936 - val_mean_squared_error: 307.8936
Epoch 55/100
 - 0s - loss: 244.6704 - mean_squared_error: 244.6704 - val_loss: 296.8174 - val_mean_squared_error: 296.8174
Epoch 56/100
 - 0s - loss: 237.9851 - mean_squared_error: 237.9851 - val_loss: 286.9460 - val_mean_squared_error: 286.9460
Epoch 57/100
 - 0s - loss: 231.7888 - mean_squared_error: 231.7887 - val_loss: 278.4054 - val_mean_squared_error: 278.4054
Epoch 58/100
 - 0s - loss: 226.3394 - mean_squared_error: 226.3394 - val_loss: 270.1272 - val_mean_squared_error: 270.1272
Epoch 59/100
 - 0s - loss: 221.0847 - mean_squared_error: 221.0847 - val_loss: 261.7347 - val_mean_squared_error: 261.7347
Epoch 60/100
 - 0s - loss: 216.3070 - mean_squared_error: 216.3070 - val_loss: 254.1184 - val_mean_squared_error: 254.1184
Epoch 61/100
 - 0s - loss: 211.7588 - mean_squared_error: 211.7588 - val_loss: 247.0794 - val_mean_squared_error: 247.0794
Epoch 62/100
 - 0s - loss: 207.9218 - mean_squared_error: 207.9218 - val_loss: 241.1554 - val_mean_squared_error: 241.1554
Epoch 63/100
 - 0s - loss: 204.4100 - mean_squared_error: 204.4100 - val_loss: 235.1884 - val_mean_squared_error: 235.1884
Epoch 64/100
 - 0s - loss: 201.1376 - mean_squared_error: 201.1376 - val_loss: 229.6167 - val_mean_squared_error: 229.6167
Epoch 65/100
 - 0s - loss: 198.2134 - mean_squared_error: 198.2134 - val_loss: 225.2872 - val_mean_squared_error: 225.2872
Epoch 66/100
 - 0s - loss: 195.5077 - mean_squared_error: 195.5077 - val_loss: 220.5424 - val_mean_squared_error: 220.5425
Epoch 67/100
 - 0s - loss: 192.9775 - mean_squared_error: 192.9774 - val_loss: 216.3718 - val_mean_squared_error: 216.3718
Epoch 68/100
 - 0s - loss: 190.5857 - mean_squared_error: 190.5857 - val_loss: 212.2890 - val_mean_squared_error: 212.2890
Epoch 69/100
 - 0s - loss: 188.2741 - mean_squared_error: 188.2741 - val_loss: 208.6094 - val_mean_squared_error: 208.6094
Epoch 70/100
 - 0s - loss: 186.2805 - mean_squared_error: 186.2805 - val_loss: 205.4089 - val_mean_squared_error: 205.4089
Epoch 71/100
 - 0s - loss: 184.4292 - mean_squared_error: 184.4292 - val_loss: 202.2088 - val_mean_squared_error: 202.2088
Epoch 72/100
 - 0s - loss: 182.8111 - mean_squared_error: 182.8111 - val_loss: 199.0865 - val_mean_squared_error: 199.0865
Epoch 73/100
 - 0s - loss: 180.8575 - mean_squared_error: 180.8575 - val_loss: 196.6744 - val_mean_squared_error: 196.6744
Epoch 74/100
 - 0s - loss: 179.4069 - mean_squared_error: 179.4069 - val_loss: 194.0934 - val_mean_squared_error: 194.0934
Epoch 75/100
 - 0s - loss: 177.9774 - mean_squared_error: 177.9774 - val_loss: 192.0626 - val_mean_squared_error: 192.0626
Epoch 76/100
 - 0s - loss: 176.6276 - mean_squared_error: 176.6276 - val_loss: 190.0975 - val_mean_squared_error: 190.0975
Epoch 77/100
 - 0s - loss: 175.2800 - mean_squared_error: 175.2799 - val_loss: 187.7952 - val_mean_squared_error: 187.7952
Epoch 78/100
 - 0s - loss: 174.0137 - mean_squared_error: 174.0137 - val_loss: 185.9861 - val_mean_squared_error: 185.9861
Epoch 79/100
 - 0s - loss: 172.8626 - mean_squared_error: 172.8626 - val_loss: 184.1749 - val_mean_squared_error: 184.1749
Epoch 80/100
 - 0s - loss: 171.6670 - mean_squared_error: 171.6670 - val_loss: 182.1464 - val_mean_squared_error: 182.1464
Epoch 81/100
 - 0s - loss: 170.6354 - mean_squared_error: 170.6354 - val_loss: 180.5006 - val_mean_squared_error: 180.5006
Epoch 82/100
 - 0s - loss: 169.5397 - mean_squared_error: 169.5397 - val_loss: 178.9417 - val_mean_squared_error: 178.9417
Epoch 83/100
 - 0s - loss: 168.6640 - mean_squared_error: 168.6640 - val_loss: 177.6735 - val_mean_squared_error: 177.6735
Epoch 84/100
 - 0s - loss: 167.6290 - mean_squared_error: 167.6290 - val_loss: 176.4239 - val_mean_squared_error: 176.4239
Epoch 85/100
 - 0s - loss: 166.7024 - mean_squared_error: 166.7024 - val_loss: 175.2692 - val_mean_squared_error: 175.2692
Epoch 86/100
 - 0s - loss: 165.7901 - mean_squared_error: 165.7901 - val_loss: 174.2606 - val_mean_squared_error: 174.2606
Epoch 87/100
 - 0s - loss: 165.0116 - mean_squared_error: 165.0116 - val_loss: 173.2638 - val_mean_squared_error: 173.2637
Epoch 88/100
 - 0s - loss: 164.2179 - mean_squared_error: 164.2179 - val_loss: 171.6742 - val_mean_squared_error: 171.6742
Epoch 89/100
 - 0s - loss: 163.4799 - mean_squared_error: 163.4799 - val_loss: 170.9649 - val_mean_squared_error: 170.9649
Epoch 90/100
 - 0s - loss: 162.6441 - mean_squared_error: 162.6440 - val_loss: 170.0113 - val_mean_squared_error: 170.0113
Epoch 91/100
 - 0s - loss: 162.0179 - mean_squared_error: 162.0179 - val_loss: 168.6057 - val_mean_squared_error: 168.6057
Epoch 92/100
 - 0s - loss: 161.1304 - mean_squared_error: 161.1303 - val_loss: 167.8598 - val_mean_squared_error: 167.8598
Epoch 93/100
 - 0s - loss: 160.4246 - mean_squared_error: 160.4247 - val_loss: 167.1246 - val_mean_squared_error: 167.1246
Epoch 94/100
 - 0s - loss: 159.7718 - mean_squared_error: 159.7718 - val_loss: 166.3997 - val_mean_squared_error: 166.3997
Epoch 95/100
 - 0s - loss: 159.1041 - mean_squared_error: 159.1041 - val_loss: 165.4963 - val_mean_squared_error: 165.4964
Epoch 96/100
 - 0s - loss: 158.4933 - mean_squared_error: 158.4933 - val_loss: 164.6496 - val_mean_squared_error: 164.6496
Epoch 97/100
 - 0s - loss: 157.8002 - mean_squared_error: 157.8002 - val_loss: 163.3347 - val_mean_squared_error: 163.3347
Epoch 98/100
 - 0s - loss: 157.0993 - mean_squared_error: 157.0993 - val_loss: 162.6633 - val_mean_squared_error: 162.6633
Epoch 99/100
 - 0s - loss: 156.5503 - mean_squared_error: 156.5503 - val_loss: 161.6987 - val_mean_squared_error: 161.6987
Epoch 100/100
 - 0s - loss: 155.9288 - mean_squared_error: 155.9288 - val_loss: 161.1416 - val_mean_squared_error: 161.1416

In [19]:
import statistics 
from sklearn.metrics import mean_squared_error

print(model.summary())
mse_results=[]
for x in range(50):
    model.fit(X_train,y_train,epochs=100, verbose=0)
    train_results = model.predict( X_test )
    mse_results.append( mean_squared_error(y_test, train_results) )

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                90
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________
None

In [20]:
print("Mean of the list of mean square errors is % s" % (statistics.mean( mse_results ) ))
print("Standard deviation of the list of mean square errors is % s" % ( statistics.stdev( mse_results )))

Mean of the list of mean square errors is 39.022622714479965
Standard deviation of the list of mean square errors is 8.959905421423958

In [21]:
mse_results

[95.53623556287994,
 61.34297492437536,
 46.327768687157636,
 40.90152068044677,
 39.33184298467229,
 38.61157896147141,
 38.351934860393385,
 37.92625548262455,
 37.909942747636016,
 37.71272506029706,
 37.732639364847856,
 37.82143623245902,
 37.605890473300676,
 37.5806262853749,
 37.55202307528633,
 37.358913378942276,
 37.31249207314606,
 37.21626896141561,
 36.99477835770912,
 36.931318113511445,
 37.00337438998788,
 36.992837167442886,
 37.15422538820508,
 36.91035264204172,
 36.908915698558694,
 36.83421347729007,
 36.918593919154034,
 36.872694305801815,
 36.83024500937844,
 36.7336788880035,
 36.76207097313641,
 36.866004022932046,
 36.88593722536031,
 36.919894446985516,
 36.68794786289023,
 36.64977572703268,
 36.88014416015594,
 36.67713730612922,
 36.82538795966815,
 36.764673309735855,
 36.72093956899923,
 36.76491152064336,
 36.664822881808846,
 36.54199836997531,
 36.53771105530892,
 36.631775879078965,
 36.664538942882665,
 36.46916123600699,
 36.48105479171003,
 36.51695132974584]

#### Increasing the epochsin this dataset results in better accuracy and fitting. (Sometimes even overfitting :o )
Mean of list of MSE decreased by approx. 15 points while the standard deviation shrunked by 13.4 points

# Thanks for Reviewing the Project.